<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sec.aidog.dao.CheckresMapper" >
  <resultMap id="BaseResultMap" type="com.sec.aidog.pojo.Checkres" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="eye_illplace" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="eye_size" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pcr_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pcr_sqjqdc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pcr_dfjqdc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pcr_xljqdc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="note" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, eye_illplace, eye_size, pcr_num, pcr_sqjqdc, pcr_dfjqdc, pcr_xljqdc, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sec.aidog.model.CheckresExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkres
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkres
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkres
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sec.aidog.model.CheckresExample" >
    delete from checkres
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sec.aidog.pojo.Checkres" >
    insert into checkres (id, eye_illplace, eye_size, 
      pcr_num, pcr_sqjqdc, pcr_dfjqdc, 
      pcr_xljqdc, note)
    values (#{id,jdbcType=INTEGER}, #{eyeIllplace,jdbcType=VARCHAR}, #{eyeSize,jdbcType=VARCHAR}, 
      #{pcrNum,jdbcType=INTEGER}, #{pcrSqjqdc,jdbcType=VARCHAR}, #{pcrDfjqdc,jdbcType=VARCHAR}, 
      #{pcrXljqdc,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sec.aidog.pojo.Checkres" >
    insert into checkres
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eyeIllplace != null" >
        eye_illplace,
      </if>
      <if test="eyeSize != null" >
        eye_size,
      </if>
      <if test="pcrNum != null" >
        pcr_num,
      </if>
      <if test="pcrSqjqdc != null" >
        pcr_sqjqdc,
      </if>
      <if test="pcrDfjqdc != null" >
        pcr_dfjqdc,
      </if>
      <if test="pcrXljqdc != null" >
        pcr_xljqdc,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eyeIllplace != null" >
        #{eyeIllplace,jdbcType=VARCHAR},
      </if>
      <if test="eyeSize != null" >
        #{eyeSize,jdbcType=VARCHAR},
      </if>
      <if test="pcrNum != null" >
        #{pcrNum,jdbcType=INTEGER},
      </if>
      <if test="pcrSqjqdc != null" >
        #{pcrSqjqdc,jdbcType=VARCHAR},
      </if>
      <if test="pcrDfjqdc != null" >
        #{pcrDfjqdc,jdbcType=VARCHAR},
      </if>
      <if test="pcrXljqdc != null" >
        #{pcrXljqdc,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sec.aidog.model.CheckresExample" resultType="java.lang.Integer" >
    select count(*) from checkres
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkres
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.eyeIllplace != null" >
        eye_illplace = #{record.eyeIllplace,jdbcType=VARCHAR},
      </if>
      <if test="record.eyeSize != null" >
        eye_size = #{record.eyeSize,jdbcType=VARCHAR},
      </if>
      <if test="record.pcrNum != null" >
        pcr_num = #{record.pcrNum,jdbcType=INTEGER},
      </if>
      <if test="record.pcrSqjqdc != null" >
        pcr_sqjqdc = #{record.pcrSqjqdc,jdbcType=VARCHAR},
      </if>
      <if test="record.pcrDfjqdc != null" >
        pcr_dfjqdc = #{record.pcrDfjqdc,jdbcType=VARCHAR},
      </if>
      <if test="record.pcrXljqdc != null" >
        pcr_xljqdc = #{record.pcrXljqdc,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkres
    set id = #{record.id,jdbcType=INTEGER},
      eye_illplace = #{record.eyeIllplace,jdbcType=VARCHAR},
      eye_size = #{record.eyeSize,jdbcType=VARCHAR},
      pcr_num = #{record.pcrNum,jdbcType=INTEGER},
      pcr_sqjqdc = #{record.pcrSqjqdc,jdbcType=VARCHAR},
      pcr_dfjqdc = #{record.pcrDfjqdc,jdbcType=VARCHAR},
      pcr_xljqdc = #{record.pcrXljqdc,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sec.aidog.pojo.Checkres" >
    update checkres
    <set >
      <if test="eyeIllplace != null" >
        eye_illplace = #{eyeIllplace,jdbcType=VARCHAR},
      </if>
      <if test="eyeSize != null" >
        eye_size = #{eyeSize,jdbcType=VARCHAR},
      </if>
      <if test="pcrNum != null" >
        pcr_num = #{pcrNum,jdbcType=INTEGER},
      </if>
      <if test="pcrSqjqdc != null" >
        pcr_sqjqdc = #{pcrSqjqdc,jdbcType=VARCHAR},
      </if>
      <if test="pcrDfjqdc != null" >
        pcr_dfjqdc = #{pcrDfjqdc,jdbcType=VARCHAR},
      </if>
      <if test="pcrXljqdc != null" >
        pcr_xljqdc = #{pcrXljqdc,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sec.aidog.pojo.Checkres" >
    update checkres
    set eye_illplace = #{eyeIllplace,jdbcType=VARCHAR},
      eye_size = #{eyeSize,jdbcType=VARCHAR},
      pcr_num = #{pcrNum,jdbcType=INTEGER},
      pcr_sqjqdc = #{pcrSqjqdc,jdbcType=VARCHAR},
      pcr_dfjqdc = #{pcrDfjqdc,jdbcType=VARCHAR},
      pcr_xljqdc = #{pcrXljqdc,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>