<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sec.aidog.dao.ManagersMapper" >
  <resultMap id="BaseResultMap" type="com.sec.aidog.pojo.Managers" >
    <constructor >
      <idArg column="managerid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="managername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="logintime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="managertel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="managerphone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="privilegelevel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="privilegedetail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="managerstatus" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="managerretirtime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="county" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="officecall" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="upusername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="village" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hamlet" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="workplace" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chargehamlet" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="manageridentity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="districtcode" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    managerid, username, managername, logintime, managertel, managerphone, password, 
    privilegelevel, privilegedetail, managerstatus, managerretirtime, province, city, 
    county, officecall, address, upusername, village, hamlet, workplace, chargehamlet, 
    manageridentity, email, districtcode
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sec.aidog.model.ManagersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from managers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sec.aidog.model.ManagersKey" >
    select 
    <include refid="Base_Column_List" />
    from managers
    where managerid = #{managerid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sec.aidog.model.ManagersKey" >
    delete from managers
    where managerid = #{managerid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sec.aidog.model.ManagersExample" >
    delete from managers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sec.aidog.pojo.Managers" >
    insert into managers (managerid, username, managername, 
      logintime, managertel, managerphone, 
      password, privilegelevel, privilegedetail, 
      managerstatus, managerretirtime, province, 
      city, county, officecall, 
      address, upusername, village, 
      hamlet, workplace, chargehamlet, 
      manageridentity, email, districtcode
      )
    values (#{managerid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{managername,jdbcType=VARCHAR}, 
      #{logintime,jdbcType=VARCHAR}, #{managertel,jdbcType=VARCHAR}, #{managerphone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{privilegelevel,jdbcType=INTEGER}, #{privilegedetail,jdbcType=VARCHAR}, 
      #{managerstatus,jdbcType=INTEGER}, #{managerretirtime,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{officecall,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{upusername,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, 
      #{hamlet,jdbcType=VARCHAR}, #{workplace,jdbcType=VARCHAR}, #{chargehamlet,jdbcType=VARCHAR}, 
      #{manageridentity,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{districtcode,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sec.aidog.pojo.Managers" >
    insert into managers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        managerid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="managername != null" >
        managername,
      </if>
      <if test="logintime != null" >
        logintime,
      </if>
      <if test="managertel != null" >
        managertel,
      </if>
      <if test="managerphone != null" >
        managerphone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="privilegelevel != null" >
        privilegelevel,
      </if>
      <if test="privilegedetail != null" >
        privilegedetail,
      </if>
      <if test="managerstatus != null" >
        managerstatus,
      </if>
      <if test="managerretirtime != null" >
        managerretirtime,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="officecall != null" >
        officecall,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="upusername != null" >
        upusername,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="hamlet != null" >
        hamlet,
      </if>
      <if test="workplace != null" >
        workplace,
      </if>
      <if test="chargehamlet != null" >
        chargehamlet,
      </if>
      <if test="manageridentity != null" >
        manageridentity,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="districtcode != null" >
        districtcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="managername != null" >
        #{managername,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=VARCHAR},
      </if>
      <if test="managertel != null" >
        #{managertel,jdbcType=VARCHAR},
      </if>
      <if test="managerphone != null" >
        #{managerphone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="privilegelevel != null" >
        #{privilegelevel,jdbcType=INTEGER},
      </if>
      <if test="privilegedetail != null" >
        #{privilegedetail,jdbcType=VARCHAR},
      </if>
      <if test="managerstatus != null" >
        #{managerstatus,jdbcType=INTEGER},
      </if>
      <if test="managerretirtime != null" >
        #{managerretirtime,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="officecall != null" >
        #{officecall,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="upusername != null" >
        #{upusername,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="hamlet != null" >
        #{hamlet,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null" >
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="chargehamlet != null" >
        #{chargehamlet,jdbcType=VARCHAR},
      </if>
      <if test="manageridentity != null" >
        #{manageridentity,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="districtcode != null" >
        #{districtcode,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sec.aidog.model.ManagersExample" resultType="java.lang.Integer" >
    select count(*) from managers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update managers
    <set >
      <if test="record.managerid != null" >
        managerid = #{record.managerid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.managername != null" >
        managername = #{record.managername,jdbcType=VARCHAR},
      </if>
      <if test="record.logintime != null" >
        logintime = #{record.logintime,jdbcType=VARCHAR},
      </if>
      <if test="record.managertel != null" >
        managertel = #{record.managertel,jdbcType=VARCHAR},
      </if>
      <if test="record.managerphone != null" >
        managerphone = #{record.managerphone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.privilegelevel != null" >
        privilegelevel = #{record.privilegelevel,jdbcType=INTEGER},
      </if>
      <if test="record.privilegedetail != null" >
        privilegedetail = #{record.privilegedetail,jdbcType=VARCHAR},
      </if>
      <if test="record.managerstatus != null" >
        managerstatus = #{record.managerstatus,jdbcType=INTEGER},
      </if>
      <if test="record.managerretirtime != null" >
        managerretirtime = #{record.managerretirtime,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null" >
        county = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.officecall != null" >
        officecall = #{record.officecall,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.upusername != null" >
        upusername = #{record.upusername,jdbcType=VARCHAR},
      </if>
      <if test="record.village != null" >
        village = #{record.village,jdbcType=VARCHAR},
      </if>
      <if test="record.hamlet != null" >
        hamlet = #{record.hamlet,jdbcType=VARCHAR},
      </if>
      <if test="record.workplace != null" >
        workplace = #{record.workplace,jdbcType=VARCHAR},
      </if>
      <if test="record.chargehamlet != null" >
        chargehamlet = #{record.chargehamlet,jdbcType=VARCHAR},
      </if>
      <if test="record.manageridentity != null" >
        manageridentity = #{record.manageridentity,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.districtcode != null" >
        districtcode = #{record.districtcode,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update managers
    set managerid = #{record.managerid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      managername = #{record.managername,jdbcType=VARCHAR},
      logintime = #{record.logintime,jdbcType=VARCHAR},
      managertel = #{record.managertel,jdbcType=VARCHAR},
      managerphone = #{record.managerphone,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      privilegelevel = #{record.privilegelevel,jdbcType=INTEGER},
      privilegedetail = #{record.privilegedetail,jdbcType=VARCHAR},
      managerstatus = #{record.managerstatus,jdbcType=INTEGER},
      managerretirtime = #{record.managerretirtime,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      county = #{record.county,jdbcType=VARCHAR},
      officecall = #{record.officecall,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      upusername = #{record.upusername,jdbcType=VARCHAR},
      village = #{record.village,jdbcType=VARCHAR},
      hamlet = #{record.hamlet,jdbcType=VARCHAR},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      chargehamlet = #{record.chargehamlet,jdbcType=VARCHAR},
      manageridentity = #{record.manageridentity,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      districtcode = #{record.districtcode,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sec.aidog.pojo.Managers" >
    update managers
    <set >
      <if test="managername != null" >
        managername = #{managername,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        logintime = #{logintime,jdbcType=VARCHAR},
      </if>
      <if test="managertel != null" >
        managertel = #{managertel,jdbcType=VARCHAR},
      </if>
      <if test="managerphone != null" >
        managerphone = #{managerphone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="privilegelevel != null" >
        privilegelevel = #{privilegelevel,jdbcType=INTEGER},
      </if>
      <if test="privilegedetail != null" >
        privilegedetail = #{privilegedetail,jdbcType=VARCHAR},
      </if>
      <if test="managerstatus != null" >
        managerstatus = #{managerstatus,jdbcType=INTEGER},
      </if>
      <if test="managerretirtime != null" >
        managerretirtime = #{managerretirtime,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="officecall != null" >
        officecall = #{officecall,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="upusername != null" >
        upusername = #{upusername,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="hamlet != null" >
        hamlet = #{hamlet,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null" >
        workplace = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="chargehamlet != null" >
        chargehamlet = #{chargehamlet,jdbcType=VARCHAR},
      </if>
      <if test="manageridentity != null" >
        manageridentity = #{manageridentity,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="districtcode != null" >
        districtcode = #{districtcode,jdbcType=BIGINT},
      </if>
    </set>
    where managerid = #{managerid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sec.aidog.pojo.Managers" >
    update managers
    set managername = #{managername,jdbcType=VARCHAR},
      logintime = #{logintime,jdbcType=VARCHAR},
      managertel = #{managertel,jdbcType=VARCHAR},
      managerphone = #{managerphone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      privilegelevel = #{privilegelevel,jdbcType=INTEGER},
      privilegedetail = #{privilegedetail,jdbcType=VARCHAR},
      managerstatus = #{managerstatus,jdbcType=INTEGER},
      managerretirtime = #{managerretirtime,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      officecall = #{officecall,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      upusername = #{upusername,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      hamlet = #{hamlet,jdbcType=VARCHAR},
      workplace = #{workplace,jdbcType=VARCHAR},
      chargehamlet = #{chargehamlet,jdbcType=VARCHAR},
      manageridentity = #{manageridentity,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      districtcode = #{districtcode,jdbcType=BIGINT}
    where managerid = #{managerid,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>